<div class="header">
    <div id="logo">
        <%= image_tag 'baopoustache' %>
    </div>

</div>
<div class="content">
  <div id="stats">
      <%= link_to '#9C2CQYGY', 'https://royaleapi.com/clan/9C2CQYGY', target: "_blank" %>
  </div>
  <div id="discord">
    <div id="content-discord">
      <p>Rejoins-nous sur</p>
      <%= link_to @invitation, target: "_blank" do %>
          <%= image_tag 'discord' %>
      <% end %>
    </div>
  </div>
</div>
