body {
    background: url('background') no-repeat center fixed;
    background-size: cover;
    a {
        text-decoration: none;
        color: ivory;
        transition: 0.3s all;
    }
    a:hover {
        color: RGBA(239, 236, 173, 1.00);
    }
}

.header {
    text-align: center;
}

#discord {
  opacity: 1;
  transition: 0.3s all;
  display: flex;
  justify-content: center;
  align-items: center;
  #content-discord {
    background-color: white;
    border-radius: 8px;
  }
}

#discord:hover {
    opacity: 0.7;
}

.content {
    text-align: center;
    padding: 35px;
    div {
        padding: 10px;
    }
}
